@import 'media';

.banner-flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;

    @include desktop{
       display: flex;
       flex-direction: row;
       justify-content: center;
       align-items: center;
       align-content: center;
    }
}

.consultoria-coaching{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;

    @include desktop{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-content: center;
      align-items: center;
    }
}