/*
Theme Name: Ludwing
Theme URI: https://wordpress.org/themes/twentytwenty/
Author: Ludwing Abel Gonzalez
Author URI: https://wordpress.org/
Description: Practico, ejemplo, desarrollador.
Tags: blog, information, holidays
Version: 1.3
Requires at least: 5.0
Tested up to: 5.4
Requires PHP: 7.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: twentytwenty
This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/


.fondo-menu{
    background: radial-gradient(50% 50.91% at 50% 50.91%, #243F8C 0%, #0F2B5A 99.85%);
}

.nav-link{
    color: white !important;
    font-weight: bold !important;
}
.menu-item.active>.nav-link{
  color: #26B78A !important;
}
.nav-link:hover{
   color: #26B78A !important;
}

.navbar{
    position: fixed !important;
    left: 0 !important;
    right: 0 !important;
    z-index: 5 !important;
}

.abrir-boton{
    background-color: #26B78A;
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    text-align: center;
    border-radius: 2px;
    width: 10%;
    display: inline-block;
    padding-top: .5rem;
    padding-bottom: .5rem;
    font-weight: 600;
}

.abrir-boton:hover{
    background-color: #fff;
    transition: all 0.8s
}

#menu-mi-menu li:last-child{
    background-color: #26B78A;
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    text-align: center;
    border-radius: 10px;
    width: 17%;
    display: inline-block;
}

#menu-mi-menu li:last-child:hover{
    background-color: #fff;
    transition: all 0.8s
}

.imagen-menu{
    width: 70%;
}

#bannerIndex{
    background-image: url(images/fondo-superior.png);
    background-repeat: no-repeat;
    background-position: bottom center;
    width: 100%;
    object-fit: cover;
    padding-top: 6rem;
}


/*.banner-flex{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
} */

.columnas-banner{
   width: 50%;
   padding: 1rem 1rem 4rem 1rem;
}

.title-banner{
    font-size: 1.5rem;
    color: #26B78A;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}

.imagen-header{
    position: relative;
    z-index: 0;
    width: 80%;
}

.text-banner{
    font-size: 1.4rem;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
}

.boton-banner{
    background-color: #26B78A;
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    text-align: center;
    border-radius: 10px;
    width: 50%;
    display: inline-block;
    padding: 0.5rem 0rem 0.5rem 0rem;
}

.boton-contacto{
    background-color: #26B78A;
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    text-align: center;
    border-radius: 10px;
    width: 50%;
    display: inline-block;
    padding: .7rem 0rem .7rem 0rem;
}

.contenedor-nosotros{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.columna-objetivos{
    width: 50%;
}

.columna-imagen{
    width: 50%;
    order: 1;
    padding: 1rem 1rem 1rem 1rem;
    text-align: center;
}

.columna-text{
    width: 50%;
    order: 2;
    padding: 1rem 1rem 1rem 1rem;
}


.corporativo{
    width: 90%;
    position: relative;
    z-index: 2;
    border-radius: 1rem;
}

.mision-vision{
    display: flex;
    flex-direction: row;
}

.title-objetivo{
   color: #26B78A;
   font-size: 1.5rem;
   font-family: 'Raleway' ,sans-serif;
   font-weight: 600;
}

.title-objetivos{
    color: #26B78A;
   font-size: 1.3rem;
   font-family: 'Raleway' ,sans-serif;
   font-weight: 600;
}

.parrafo-objetivos{
    color:#152938;
    font-size: 1.1rem;
    text-align: left;
    font-family: 'Raleway' ,sans-serif;
    font-style: normal;
}

.parrafos-objetivos{
    color:#152938;
    font-size: 1.1rem;
    text-align: left;
    font-family: 'Raleway' ,sans-serif;
    font-style: normal;
}

.text-content{
    color:#152938;
    font-size: 1.1rem;
    text-align: left;
    font-family: 'Raleway' ,sans-serif;
    font-style: normal;
}

#Servicios{
    background-color: #243F8C;
}

.content-servicios{
    width: 100%;
    height: 100%;
    /*background-color: #243F8C;*/
    display: flex;
    flex-direction: column;
}

.introducion-servicios{
    padding: 3rem 6rem 1rem 6rem;
    font-size: 1.3rem;
    text-align: left;
    font-family: 'Raleway';
    font-weight: 400;
    color: #FFFFFF;
}
/*
.consultoria-coaching{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
} */

.columna-coaching{
    width: 50%;
    padding: 2rem 6rem 2rem 6rem;
}

.imagen-equipo{
    width: 100%;
}

.titulo-seccion{
    font-size: 2rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #fff;
}

.subtitulo-seccion{
    font-size: 1.5rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #fff;
}

.text-servicios{
    font-size: 1rem;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    font-style: normal;
    text-align: left;
}

.mis-libros{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 1rem 1rem 1rem 1rem;
}

.align-text{
    text-align: center;
}

.libros-destacados{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.columna-libros{
    display: flex;
    flex-direction: row;
    padding: 1rem 3rem 1rem 3rem;
}


.libro-imagen{
    width: 40%;
    padding: 1rem 1rem 1rem 1rem;
}

.descripcion-libro{
    width: 50%;
    padding: 1rem 2rem 1rem 2rem;
}

.seccion-blog{
    margin-top: 7rem !important;
}

.image-card{
    width: 100% !important;
    height: 50% !important;
    object-fit: cover;
}

.title-articulos{
    text-decoration: none;
    color: #152938;
    font-size: 1.3rem;
    font-weight: 600;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
}

.boton-fecha{
    width: 45%;
    font-weight: 600;
    font-family: 'Raleway', sans-serif !important;
    padding: 1rem 1rem 1rem 1rem;
    font-size: 1.2rem !important;
    background-color: #26B78A;
    color: #FFFFFF !important;
    text-align: center;
    border-radius: .5rem;
}

.title-green{
    font-size: 2rem;
    font-weight: 600;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    color: #26B78A;
}

.text-consultor{
  color: #152938;
  font-size: 1.4rem;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-style: normal;
}

#Testimonios{
    background-color: #F3F3F3;
}

.section-testimonio{
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: 6rem 1rem 6rem 1rem;
}


.splide__arrow{
    background: transparent;
}

.splide__pagination{
    bottom: -1.5em;
}

.splide__pagination__page{
    border: 1px solid #26B78A;
    background: transparent;
}

.splide__pagination__page.is-active{
    background: #26B78A !important;
}

.splide__slide{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor-testimonio{
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 80%;
}

.encabezado-testimonio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.imagen-redondeada{
    border-radius: 4rem;
}

.nombre-testimonio{
    color: #26B78A;
    font-size: 1.2rem;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-style: normal;
}

.profesion{
    color: #152938;
    font-size: 1rem;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-family: 100;
    font-style: normal;
}

.contenedor-testimonio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content-testimonio{
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    align-items: center;
}

.descripcion-testimonio{
    color: #152938;
    font-size: 1.25rem;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    text-align: left;
}

.section-socios{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
}


/* Carousel para socios */
.slide-socios{
    float: left;
    position: relative;
    padding: 30px 0;
    z-index: 1;
    width: 100%;
}

.swiper-container{
    width: 100%;
    height: 100%;
}

.testimonials-carousel{
    padding: 1rem 8rem 1rem 8rem
}

.testimonials-carousel-wrap{
    display: flex;
    width: 95%;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 45%;
}

.listining-carousel-button{
    position: relative;
    top: 50%;
    width: 80px;
    height: 50px;
    line-height: 50px;
    margin-top: -15px;
    z-index: 100;
    cursor: pointer;
}

.listining-carousel-button, .listining-carousel-button-next{
    right: 100px !important;
    padding-top: 20px;
}

.listining-carousel-button, .listining-carousel-button-prev{
    left: 50px !important;
    padding-top: 20px;
}

.testi-item{
    transition: all .3s ease-in-out;
    transform: scale(0.9);
    opacity: 0.9;
    border-left: 1px solid #26B78A;
    width: 100%;
}

.testimonials-text{
    padding: 6rem 1rem 2rem 1rem;
    overflow: hidden;
    border: 1;
}

.text-socio{
    color: #152938;
    font-size: 1rem;
    font-family: 'Raleway', sans-serif;
    font-weight: normal;
    font-style: normal;
    padding: 1rem 3rem 1rem 3rem;
}

.link-contacto{
    color: #26B78A;
    font-weight: 600;
    font-size: 1rem;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    text-decoration: none;
}

.testimonials-carousel .swiper-slide{
    padding: 30px 0;
}

.testi-avatar{
    position: absolute;
    left: 50%;
    top: -30px;
    width: 90px;
    height: 90px;
    margin-left: -45px;
    z-index: 20;
}

.text-link{
    position: absolute;
    bottom: 0;
    padding: 0 0;
}

.swiper-slide-active .testi-item{
    opacity: 1;
    transform: scale(1.0);
}

.swiper-container-horizontal>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
        left: 100%;
        transform: translateX(250%);
        white-space: nowrap;
}

.tc-pagination{
    float: left;
    margin-top: 10px;
    /*width: 100% !important;*/
}


.tc-pagination_wrap{
    position: absolute;
    bottom: -40px;
    left: 0;
   /* width: 100%;*/
}

.tc-pagination2{
    float: none;
    display: inline-block;
    padding: 14px 0;
    min-width: 250px;
}

.tc-pagination .swiper-pagination-bullet, .tc-pagination2.swiper-pagination-bullet{
   opacity: 1;
   margin: 0 2px;
   width: 20px;
   height: 20px;
   transition: all 300ms ease-in-out;
   border: 1px solid #26B78A;
   background-color: transparent;
}

.swiper-pagination-bullet-active {
    opacity: 1;
    background-color: #26B78A !important; 
}


.footer-personalizado{
   background-color: #23408B !important;
}

.contacto-footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.text-contacto{
    text-decoration: none;
    font-size: 1.2rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    color: #FFFFFF;
    padding: 1rem 1rem 0rem 1rem;
}

.redes-sociales{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.icono-linkedin,
.icono-facebook,
.icono-telefono{
    display: inline-block;
    width: 2.2rem;
    height: 2.2rem;
    margin:1rem 0.5rem;
}
.icono-linkedin img{
object-fit: contain;
width: 90%;
height: 90%;
}
.icono-facebook img{
object-fit: contain;
width: 85%;
height: 85%;
}
.icono-telefono img{
    object-fit: contain;
    width: 90%;
    height: 90%;
}
#contentcards{
    display: grid;
    grid-template-columns: repeat(2, minmax(49%,1fr));
    grid-template-rows: 1fr 1fr;
    grid-gap: 1rem;
    margin: 1rem auto;
}

#contentcards .card-body{
    height: 100%;
    border-radius: 1rem;
    overflow: hidden;
}

#contentcards div:nth-child(1){
    grid-row: span 2;
    padding:0;
}

#contentcards div:nth-child(1) .image-card{
    display: block !important;
}
#contentcards div:nth-child(1) .boton-fecha{
  margin: -1rem 0 0 1rem;
  position: relative;
}
#contentcards div:nth-child(1) .card-content{
  margin:2rem;
}
#contentcards div:nth-child(n) .image-card{
    width: 0;
    display: none;
}

.card-body{
    background-color: #F9F9F9;
}

.card-body p{
    font-size: 1.2rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

.card-body:hover{
    box-shadow: 0px 0px 11.5514px rgba(0, 0, 0, 0.25);
}

.card-body a:hover{
    color: #26B78A;
}

.derechos-reservados{
    font-size: 1.2rem;
    color: #FFFFFF;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-style: normal;
}

.modalcontacto{
    background-color: #23408B;
    padding: 1rem 9rem 1rem 9rem;
    position: fixed;
    z-index: 500;
    overflow: auto;
    left: 0;
    top: 0rem;
    width: 100%;
    height: 100%;
    display: none;
}

.contenido-modal{
    position: relative;
    margin: auto;
    width: 100%;
    height: 100%;
    margin-top: 11.5rem;
}

.fecha-article{
    font-family: 'Raleway', sans-serif;
    font-weight: 600 !important;
    font-size: 1.3rem !important;
    color: #FFFFFF !important;
    background-color: #26B78A;
    width: 20%;
    padding-top: .5rem;
    padding-bottom: .5rem;
    text-align: center;
    text-transform: uppercase;
    border-radius: 10px;
}

.content-separacion{
    padding: 1rem 1rem 1rem 1rem;
}

.post-body p:nth-child(2){
    font-family: 'Raleway', sans-serif;
    font-weight: 400 !important;
    font-size: 1.2rem !important;
    color: #152938;
}

.post-body p:nth-child(3){
    font-family: 'Raleway', sans-serif;
    font-weight: 400 !important;
    font-size: 1.2rem !important;
    color: #152938;
}

.post-body p:nth-child(n){
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    color: #152938;
}

.etiquetas-flex{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.share{
    width: 15%;
    order: 1;
    text-align: center;
}
.post-column{
    width: 85%;
    order: 2;
}

.fecha-autor{
    margin: 0.4rem 1rem 1rem -2rem;
}

.iconos-compartir{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.compartir-icon{
    color: #152938;
    text-decoration: none;
    margin: .4rem 1rem .4rem 1rem;
}

.compartir-icon:hover{
    color: #26B78A;
}

#mc_embed_signup{
    background-color: #F9F9F9 !important;
    width: 50%;
}


#mc_embed_signup .button{
    color: #FFFFFF;
    background-color: #26B78A;
}

#mc_embed_signup .button:hover{
    background-color: #FFFFFF;
    color: #26B78A;
    border: 1px solid #26B78A;
    transition: all 0.8s;
}

#mc_embed_signup .mc-field-group input{
    width: 50%;
}

#mc_embed_signup h2{
    color: #26B78A;
    font-size: 2rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}

@keyframes modalcontacto{
   from{
     top: 2rem;
     opacity: 0;
   }
   to{
       top: 0;
       opacity: 1;
   }
}

.close{
    color: #FFFFFF;
    border-radius: 1rem;
    background-color: #26B78A;
    font-size: 1.2rem;
    font-weight: bold;
    position: relative;
    top: -6rem;
    left: 33rem;
    text-align: center;
    width: 3rem;
}

.close:hover{
    color: #26B78A;
    background-color: #FFFFFF;
    text-decoration: none;
    cursor: pointer;
}

.modal-cabecera{
    padding: 8px 16px;
    background: transparent;
}

.flexible{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}



.title-contacto{
    color:#26B78A;
    font-size: 2rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}

.contacto-text{
    font-size: 1.1rem;
    color: #FFFFFF;
    font-family: 'Raleway', sans-serif;
    font-weight: normal;
    font-style: normal;
}

.contactame{
    font-size: 1.2rem;
    font-weight: 600;
    font-family: 'Raleway', sans-serif;
    color: #FFFFFF;
}

.contacto-modal{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: left;
    margin: -1rem 0rem 2rem 0rem;
}

.tienes-dudas{
    font-size: 1.1rem;
    font-weight: 600;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    color: #FFFFFF;
}

.formulario-modal{
    width: 100%;
}

.formulario-modal textarea{
    width: 983px;
    height: 200px;
    max-width: 100%;
}

.campos-contacto{
  display: grid;
  grid-template-columns: 1fr;
  align-content: center;
}
@media (min-width: 801px) {        
  .campos-contacto{
    grid-template-columns: 1fr 1fr;
  }
}
.orden-campos{
    display: flex;
    flex-direction: column;
    padding: 1rem 1rem 1rem 1rem;
}

.orden-campos input{
  width: 100%;
  border:0; padding:.5rem;
  border-radius: .5rem;
}

.boton-envio{
    display: flex;
    align-content: center;
    align-items: center;
    padding: 1rem 2rem 1rem 1rem;
}

.boton-contact, .wpcf7-submit{
    background-color: #26B78A;
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    text-align: center;
    padding:.5rem 2rem;
    border-radius: .5rem;

    display: inline-block;
    border:0;
}

.text-formulario{
    color: #FFFFFF;
    font-size: 1rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-style: normal;
}
.wpcf7-response-output{
  background:#FFFFFF;
  padding:1rem;
}
.wpcf7-form.sent>div{
  opacity: 0;
  height: 0;
  transition: opacity 400ms ease-in;
}
.wpcf7-form.sent>.wpcf7-response-output{
  opacity: 1;
  height: auto;
}
.iconos-fijos{
    position: fixed;
    top: 35rem;
    right: 1rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 20px;
}

.iconos-separacion{
    padding: 1rem 1.5rem 1rem 1.5rem;
}

.content-telefono{
    display: none;
}

.telefono-movil{
    width: 0;
    overflow: hidden;
}

@media (max-width: 800px) {
    .nabvar-brand{
        margin-right: -.3rem !important;
    }

    #menu-mi-menu li:last-child{
        background-color: #26B78A;
        text-decoration: none;
        color: #fff;
        font-size: 1rem;
        text-align: center;
        border-radius: 10px;
        width: 30%;
        display: inline-block;
    }
    
    .imagen-menu{
        width: 50%;
    }

    .columnas-banner{
        width: 100%;
        padding: 1rem 0rem 1rem 0rem
     }


     /*.banner-flex{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
     }*/
     
     .title-banner{
         font-size: 1.2rem;
         color: #26B78A;
         font-family: 'Raleway', sans-serif;
         font-weight: 600;
     }
     
     .imagen-header{
         position: relative;
         width: 100%;
         top: 0rem;
     }
     
     .text-banner{
         font-size: 1.1rem;
         color: #fff;
         font-family: 'Raleway', sans-serif;
         font-weight: 100;
     }
     
     .boton-banner{
         background-color: #26B78A;
         text-decoration: none;
         color: #fff;
         font-size: 1rem;
         text-align: center;
         border-radius: 10px;
         width: 80%;
         padding: 0.5rem 0rem 0.5rem 0rem;
     }

     .boton-contacto{
        background-color: #26B78A;
        text-decoration: none;
        color: #fff;
        font-size: 1rem;
        text-align: center;
        border-radius: 10px;
        width: 80%;
        padding: .7rem 0rem .7rem 0rem;
     }
     
     .contenedor-nosotros{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
    }

    .descripcion-testimonio{
        color: #152938;
        font-size: 1rem;
        font-family: 'Raleway', sans-serif;
        font-style: normal;
        text-align: left;
    }
    
    .columna-imagen{
        width: 80%;
        order: 2;
    }

    .columna-text{
        width: 100%;
        order: 1;
    }

    .corporativo{
        width: 100%;
        position: relative;
        z-index: 2;
        border-radius: 1rem;
    }

    .rectangulo{
        width: 100%;
        position: relative;
        margin-top: -11.5rem;
        margin-left: -0.5rem;
        z-index: 1;
    }

    .mision-vision{
        display: flex;
        flex-direction: column;
    }

    .columna-objetivos{
        width: 100%;
    }

    .title-objetivo{
        color: #26B78A;
        font-size: 1.3rem;
        font-family: 'Raleway' ,sans-serif;
        font-weight: 600;
     }
     
     .title-objetivos{
         color: #26B78A;
        font-size: 1.2rem;
        font-family: 'Raleway' ,sans-serif;
        font-weight: 600;
     }

      .parrafo-objetivos{
        color:#152938;
        font-size: 1rem;
        text-align: left;
        font-family: 'Raleway' ,sans-serif;
        font-style: normal;
      }
     
     .parrafos-objetivos{
         color:#152938;
         font-size: 1rem;
         text-align: left;
         font-family: 'Raleway' ,sans-serif;
         font-style: normal;
     }
     
     .text-content{
         color:#152938;
         font-size: 1rem;
         text-align: left;
         font-family: 'Raleway' ,sans-serif;
         font-style: normal;
     }

     .content-servicios{
         display: flex;
         flex-direction: column;
     }

     .introducion-servicios{
        padding: 3rem 0rem 1rem 0rem;
        font-size: 1.1rem;
        text-align: center;
        font-family: 'Raleway', sans-serif;
        font-weight: 400;
        color: #FFFFFF;
    }
    /*
     .consultoria-coaching{
        display: flex;
        flex-direction: column;
    } */
    
    .columna-coaching{
        width: 100%;
        padding: 2rem 0rem 2rem 0rem;
    }

    .imagen-equipo{
        width: 90%;
    }
    
    .titulo-seccion{
        font-size: 1.5rem;
        font-family: 'Raleway', sans-serif;
        font-weight: 600;
        font-style: normal;
        color: #fff;
        text-align: left;
    }
    
    .subtitulo-seccion{
        font-size: 1.2rem;
        font-family: 'Raleway', sans-serif;
        font-weight: 600;
        font-style: normal;
        color: #fff;
    }
    
    .text-servicios{
        font-size: 1.1rem;
        color: #fff;
        font-family: 'Raleway', sans-serif;
        font-weight: 100;
        font-style: normal;
        text-align: left;
    }
    
    .mis-libros{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        
    }
    
    .libros-destacados{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
    }
    
    .columna-libros{
        display: flex;
        flex-direction: column;
        padding: 1rem 0rem 1rem 0rem;
    }
    
    
    .libro-imagen{
        width: 100%;
        text-align: center;
    }
    
    .descripcion-libro{
        width: 100%;
        text-align: center;
        padding: 1rem 0rem 1rem 0rem;
    }

    .align-text{
        padding: 0rem 3rem 0rem 3rem;
    }

    .title-green{
        font-size: 1.7rem;
        font-weight: 600;
        font-family: 'Raleway', sans-serif;
        font-style: normal;
        color: #26B78A;
    }
    
    .text-consultor{
      color: #152938;
      font-size: 1.1rem;
      font-family: 'Raleway', sans-serif;
      font-weight: 400;
      font-style: normal;
    }

    .contacto-footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        margin-top: 1rem;
    }

    .boton-fecha{
        width: 90%;
        font-weight: 600;
        font-family: 'Raleway', sans-serif !important;
        padding: 1rem 1rem 1rem 1rem;
        font-size: 1.2rem !important;
        background-color: #26B78A;
        color: #FFFFFF;
        text-align: center;
    }

    .text-contacto{
        text-decoration: none;
        font-size: 1rem;
        font-family: 'Raleway', sans-serif;
        font-weight: 400;
        color: #FFFFFF;
        padding: 1rem 0rem 1rem 0rem;
    }

    #contentcards{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100%,1fr));
        grid-template-rows: 10rem;
        grid-gap: 1.5rem 1.5rem;
        min-height: 40rem;
        flex-wrap: wrap;
        margin-top: 1rem;
    }

    #contentcards .card-body{
        position: relative;
        border-radius: 1rem;
        overflow: hidden;
        width: 100%;
        height: 100%;
    }
    
    #contentcards div:nth-child(1){
        grid-row: span 2;
        height: 64rem;
    }

    .image-card{
        width: 100% !important;
        height: 17% !important;
        object-fit: cover;
    }
    
    .card-body{
        background-color: #F9F9F9;
    }

    .icono-linkedin,
    .icono-facebook,
    .icono-telefono{
      display: inline-block;
      width: 13%;
      height: 10%;
      margin:1rem 0.5rem;
      padding: .5rem .5rem .5rem .5rem;
    }

    .icono-facebook img{
        object-fit: contain;
        width: 60%;
        height: 80%;
    }

    .splide__arrow--prev{
        left: -0.5em;
    }
    
    .splide__arrow--next{
        right: -0.5em;
    }

    .content-testimonio{
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
        padding: 1rem 1rem 1rem 1rem;
    }
  
    .swiper-slide{
        width: 100% !important;
    }

    .testimonials-carousel{
        padding: 1rem 1rem 1rem 1rem
    }

    .testimonials-carousel-wrap{
        display: flex;
        width: 90%;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        top: 45%;
    }

    .text-socio{
        color: #152938;
        font-size: 1rem;
        font-family: 'Raleway', sans-serif;
        font-weight: normal;
        font-style: normal;
        padding: 1rem 3rem 1rem 3rem;
    }

    .contacto-modal{
        display: flex;
        flex-direction: column;
        align-items: baseline;
        align-content: baseline;
        justify-content: left;
        margin: 0rem 0rem 0rem 0rem;
        width: 100%;
    }

    .modalcontacto{
        background-color: #23408B;
        padding: 1rem 1rem 1rem 1rem;
        position: fixed;
        z-index: 500;
        overflow: auto;
        left: 0;
        top: 0rem;
        width: 100%;
        height: 100%;
        display: none;
    }

    .formulario-modal textarea{
        width: 100%;
        height: 100%;
        max-width: 100%;
    }

    .listining-carousel-button, .listining-carousel-button-prev{
        left: 40px !important;
        padding-top: 20px;
    }

    .swiper-container-horizontal>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
        left: 13%;
        transform: translateX(0%);
        white-space: nowrap;
    }

    
    .link-contacto{
      color: #26B78A;
      font-weight: 600;
      font-size: .65rem;
      font-family: 'Raleway', sans-serif;
      font-style: normal;
      text-decoration: none;
    }

    .orden-campos{
        display: flex;
        flex-direction: column;
        padding: 1rem 1rem 1rem 1rem;
    }
    
    .orden-campos input{
      width: 100%;
      max-width: 100%;
    }
    
    .boton-envio{
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        padding: 1rem 1rem 1rem 1rem;
    }

    .seccion-blog{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .contenido-modal {
        position: relative;
        margin: auto;
        width: 100%;
        height: 100%;
        margin-top: 50rem;
    }

    .close {
        color: #FFFFFF;
        border-radius: 1rem;
        background-color: #26B78A;
        font-size: 1.2rem;
        font-weight: bold;
        position: relative;
        top: -5rem;
        left: 8rem;
        text-align: center;
        width: 3rem;
    }

    .abrir-boton{
        background-color: #26B78A;
        text-decoration: none;
        color: #fff;
        font-size: 1rem;
        text-align: center;
        border-radius: 2px;
        width: auto;
        display: inline-block;
        padding-top: .5rem;
        padding-bottom: .5rem;
        font-weight: 600;
    }

    .iconos-fijos {
        position: fixed;
        top: 30rem;
        right: 1rem;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-direction: column;
        z-index: 3;
        background-color: #FFFFFF;
    }

    .etiquetas-flex{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .share{
        width: 100%;
        order: 2;
    }
    .post-column{
        width: 100%;
        order: 1;
    }

    .iconos-compartir{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        align-content: center;
    }

    .fecha-article{
       width: 100%;
       font-size: .9rem !important;
    }

    .fecha-autor{
        margin: 0rem 0rem 0rem 0rem;
    }

    #mc_embed_signup{
        background-color: #F3F3F3 !important;
        width: 100%;
    }

    #mc_embed_signup .mc-field-group input{
        width: 100%;
    }

    .content-telefono{
        display: block;
    }

    .telefono-movil{
        width: 100%;
        overflow: visible;
    }
}

.hero{
  position: relative;
  overflow: hidden;
  display: flex;
  flex-flow: column;
  justify-content: center;
  min-height: 500px;
}
.hero>.hero-content{
  position: absolute;
  z-index: 3;
  padding:3rem;
  text-align: center;
  color:white;
}
.hero>.hero-background{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color:#333;
}
.hero>.hero-background img{
  opacity: .7;
  width: 100%;
  height: 100%;
  object-fit: cover;
}